/* Your global style here */
html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
