/* Your global style here */
@import url('fonts.css');

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, a, p, span, label, input, button {
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
