@import url('fonts.css');

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, a, p, span, label, input, button {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
