/* Your style here */
.app {
  height: inherit;
}

.app .header {
  background-color: #0082be;
  height: 100px;
}

.app .main {
  height: 300px;
  background-color: #f5f10b;
}

.app .footer {
  background-color: #283236;
  height: 200px;
}
