/* Your style here */
.app {
  height: inherit;
  position: relative;
}

.app-name {
  display: none;
}

.section {
  padding: 100px 0;
}

.introduction::after {
  display: inline-block;
  content: "";
  border-bottom: 2px dashed var(--bs-gray-500);
  height: 2px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mini-title {
  font-family: Dancing Script; 
  font-size: 30px;
}

.header .caption {
  margin-top: 200px;
}

.app-link {
  text-decoration: none;
}

.app-link:hover {
  color: var(--bs-primary) !important;
}

.app-link.active {
  color: var(--bs-primary) !important;
}

.app-navbar {
  height: 70px; /* header height */
  border-radius: 35px;
  background-color: var(--bs-dark);
}

.app-navbar .app-logo {
  padding: 20px;
  border-radius: 50%;
  background-color: var(--bs-dark);
}

.app-dropdown {
  position: relative;
}

.app-dropdown:hover .dropdown-menu{
  display: block;
}

.app-background-img {
  background-size: cover;
  background-position: center;
}

.app-navbar .app-nav-action-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-icon-button {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  line-height: 1;
}

.app-divider.vertical {
  background-color: var(--bs-gray-400);
  width: 2px;
  height: 15px;
  border-radius: 1px;
}

.app-icon {
  line-height: unset;
}

.app-btn-close {
  position: absolute;
  top: 10px; 
  right: 10px;
}

.modal.fade .app-side-menu-drawer.modal-dialog {
  margin: 0;
  transform: translate(-50px, 0);
}

.modal.show .app-side-menu-drawer.modal-dialog {
  transform: none;
}

.modal .app-side-menu-drawer {
  height: 100% !important;
}

.modal .app-side-menu-drawer .accordion-item {
  background-color: transparent;
  border: none;
}

.modal.fade .app-side-menu-drawer .accordion-item .accordion-body {
  padding: 0;
}

.modal .app-side-menu-drawer .side-menu-header {
  padding: 20px 50px;
  background-color: var(--bs-dark);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal .app-side-menu-drawer .side-menu-inner {
  list-style-type: none;
  height: 100%;
  padding: 20px 10px;
  background-color: #fff;
  overflow-y: auto;
}

.modal .app-side-menu-drawer .side-menu-inner > li {
  margin-bottom: 10px;
}

.modal .app-side-menu-drawer .side-menu-inner > li:last-child {
  margin-bottom: 0;
}

.modal .app-side-menu-drawer .side-menu-inner .side-menu-item .side-menu-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
}

.modal .app-side-menu-drawer .side-menu-inner .side-menu-item .side-menu-link.active, 
.modal .app-side-menu-drawer .side-menu-inner .side-menu-item .side-menu-link:hover {
  background-color: var(--bs-primary-border-subtle);
}

.footer {
  background-color: var(--bs-dark);
  padding: 50px 0;
}

.footer .follow-us {
  position: absolute;
  bottom: 0;
  right: 0;
}

.app-link-group {
  list-style-type: none;
  padding: 0;
}

.button-group .btn-check:checked + .btn{
  background-color: var(--bs-primary);
  border-color: var(--bs-primary)
}

.app-avatar {
  display: inline-block;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  border: 1px solid var(--bs-gray-400);
  overflow: hidden;
}

.coffee-menu {
  margin-top: 40px;
}

.coffee-menu .coffee-menu-item {
  display: flex;
  align-items: center;
  color: var(--bs-dark);
}

.coffee-menu .coffee-menu-item .item-info {
  min-width: 0;
}

.coffee-menu .coffee-menu-item .item-info .product-name.app-link {
  font-size: 18px;
  line-height: 0.5;
}

.coffee-menu .coffee-menu-item .item-info .tab {
  flex: 1;
  border-bottom: 1px dashed var(--bs-dark);
}

.coffee-menu .coffee-menu-item .item-info .product-price {
  line-height: 0.5;
}

@media screen and (max-width: 992px) {
  .app-name {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .footer .follow-us {
    position: relative;
    margin-top: 40px;
  }
}

@media screen and (max-width: 425px) {
  .mobile-toggler {
    display: none;
  }

  .mobile-text {
    width: 100% !important;
  }

  .coffee-menu .coffee-menu-item .item-info > div {
    flex-direction: column;
    align-items: start !important; /* force align items to start */
  }

  .coffee-menu .coffee-menu-item .item-info .tab {
    display: none;
  }

  .coffee-menu .coffee-menu-item .item-info .product-name, 
  .coffee-menu .coffee-menu-item .item-info .product-price {
    line-height: 1;
  }

  .coffee-menu .coffee-menu-item .item-info .product-price {
    margin-top: 5px;
  }

  .coffee-menu .mobile-column {
    padding-top: 3rem !important;
  }
}

