.header {
  width: 100%;
  background-color: #00000033;
  transition: background-color 0.4s ease-in-out;
}

.header.scroll {
  background-color: #000000a1;
}

.header .app-navbar-toggler {
  display: none;
  outline: none;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 992px) {
  .app-nav-brand.nav-brand {
    display: none;
  }

  .header .app-navbar-toggler {
    display: block;
  }
}

.main {
  position: relative;
}

.main .side-menu {
  position: fixed;
  height: 100%;
  left: -100%;
  z-index: 2;
  padding: 25px 10px;
  background-color: var(--bs-dark);
  transition: all 0.3s ease-in-out;
}

.main .side-menu.show {
  left: 0;
}

@media screen and (min-width: 1000px) {
  .main .side-menu {
    left: -100% !important;
  }
}

.main .header-section {
  padding: 200px 0;
  position: relative;
}

.main .section {
  padding: 50px 0;
}

.main .header-section {
  background-image: url('/assets/images/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  background-color: #283236;
  height: 200px;
}

.app-nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--bs-white) !important;
}

.app-nav-link:not(.active):hover {
  color: var(--bs-primary) !important;
}

.app-nav-link.active {
  font-weight: 600;
}

.app-nav-link.dropdown {
  cursor: pointer;
}

.app-nav-link.dropdown:hover .dropdown-menu {
  display: block;
}

.app-nav-button-outline {
  background-color: #ffffff1a;
}

.app-inline-button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  border: none;
  background-color: var(--bs-white);
}

.app-inline-button:hover {
  background-color: var(--bs-white);
}

.app-inline-input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}

.app-inline-input:focus {
  border-width: 0;
  box-shadow: unset;
}

.app-card-link {
  min-width: 100px;
  text-decoration: none;
  padding: 15px;
  display: block;
  background-color: #e1e1e159;
  color: var(--bs-white);
  text-transform: capitalize;
}

.app-card-link:hover {
  background-color: #000000a1;
}

.app-background-img {
  background-size: cover;
  background-position: center;
}

.app-hover-card-container {
  min-width: 300px;
  min-height: 300px;
  position: relative;
  
}

.app-hover-card-container .card-header {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--bs-white);
  padding: 15px;
}

.app-hover-card-container .card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #52a9f0;
  color: var(--bs-white);
  opacity: 0;
  /* transition: opacity 0.3s ease-in-out; */
}

/* .app-hover-card-container:hover .card-body {
  opacity: 1;
} */

.app-link {
  text-decoration: none;
}

.app-banner {
  padding: 40px;
}

.app-slide {
  max-height: 500px;
}


.discount-price {
  text-decoration: line-through;
  opacity: 0.6;
}
